{% extends 'gifts/base.html' %}
{% load static %}


{% block content %}

<style>
  .birthday {
    background-color: rgba(3, 248, 252, 0.4);
    border: 3px solid rgba(3, 248, 252, 0.4);
    border-radius: 50%;
  }

  .inline-icon{
    vertical-align: bottom;
  }

  .calendar td {
    text-align: center;
  }
</style>

<div class="row">
  <div class="col l6 card-panel">
    <table class="calendar" id="calendar">
      <div class="center-align">
        <button id="left-button"><i class="material-icons inline-icon">keyboard_arrow_left</i></button>
        <span id="monthName"></span>
        <button id="right-button"><i class="material-icons inline-icon">keyboard_arrow_right</i></button>
      </div>
      <tbody id="calendarBody">
        
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block end_scripts %}
<script src="{% static 'gifts/js/calendar.js' %}"></script>
{% endblock %}