{% extends 'gifts/base.html'%}

{% block title %} Gifty Groups - Create Group {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Create Group</h1>

<div class="row">
    <div class="col s12 offset-m2 m8 offset-l3 l6 blue-grey lighten-5">
        <div class="col-content">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="center">
                    <button type="submit" class="btn">Create Group</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}