{% load static %}
<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Giftly Groups</h5>

                <img class="responsive-img" src="{% static 'gifts/images/logo.png'%}" alt="logo" style="height:50px">
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Navigation</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'index' %}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'about' %}">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'view_groups' %}">Groups</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'view_all_gifts' %}">Gifts</a></li>
                </ul>
            </div>
            <div class="col l3 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'register' %}">Sign up</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'login' %}">Log in</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:giftlygroups@gmail.com">Contact</a></li>
                    <li><a class="modal-trigger grey-text text-lighten-3" href="#DonationModal">Donate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2023 Giftly Groups
        </div>
    </div>
</footer>