{% load static %}

<!-- Invitation Dropdowns -->
<ul id="inviteDropdown" class="dropdown-content">
  {% for invitation in gift_group_invitations %}
  <li>
    <a class="modal-trigger" href="#inviteModal{{invitation.id}}">{{ invitation.gift_group.name }}</a>
  </li>
  {% endfor %}
</ul>

<ul id="inviteDropdownMobile" class="dropdown-content">
  {% for invitation in gift_group_invitations %}
  <li>
    <a class="modal-trigger" href="#inviteModal{{invitation.id}}">{{ invitation.gift_group.name }}</a>
  </li>
  {% endfor %}
</ul>

<!-- End Invitation Dropdowns -->
<div class="navbar-fixed">
  <nav class="grey darken-2">
    <div class="nav-wrapper">
      <a href="{% url 'index' %}" class="brand-logo center">
        Giftly Groups</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li {% if page_name == 'groups'%} class="active" {% endif %}><a href="{% url 'view_groups' %}">Groups</a></li>
        <li {% if page_name == 'gifts'%} class="active" {% endif %}><a href="#">Gifts</a></li>
        {% if gift_group_invitations.count > 0 %} <li>
          <a class=" dropdown-trigger" href="#!" data-target="inviteDropdown">Invitations<i
              class="material-icons right">arrow_drop_down</i>
            <span class="new badge">{{gift_group_invitations.count}}</span></a>
        </li>
        {% endif %}
      </ul>

      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li {% if page_name == 'edit_profile'%}class="active" {% endif %}><a href=" {% url 'edit_profile' %}">Edit
            Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li {% if page_name == "register" %} class="active" {% endif %}><a href="{% url 'register' %}">Sign up</a></li>
        <li {% if "login" in request.path %}class="active" {% endif %}><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  {% if not user.is_authenticated %}
  <li><a href="{% url 'register' %}">Sign up</a></li>
  <li><a href="{% url 'login' %}">Log in</a></li>
  {% endif %} {% if gift_group_invitations.count > 0 %}
  <li>
    <a class="dropdown-trigger" data-target="inviteDropdownMobile">Invitations
      <span class="new badge">{{gift_group_invitations.count}}</span></a>
  </li>
  {% endif %}
  <li><a href="{% url 'view_groups' %}">Groups</a></li>
  <li><a href="Gifts">Gifts</a></li>
  <li><a href="#">Something</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'logout' %}">Logout</a></li>
  {% endif %}
</ul>