{% extends 'gifts/base.html' %}
{% load static %}
{% block head_links %}
<link rel="stylesheet" type="text/css" href="{% static 'gifts/css/view_gift.css' %}">
{% endblock %}

{% block content %}
<div class="content container">
  <h1>{{gift.receiver.first_name}}</h1>
  <h4>{{gift.receiver.profile.birth_date}}</h4>

  {% if user == captain %}
  <div class="row">
    <form method="POST" action="/set_gift/{{gift.id}}">
      {% csrf_token %}
      <div class="input-field col s12 m6 l4">
        <select name="idea_id" id="idea_id">
          {% if not gift.chosen_gift %}
            <option value="" disabled selected>Select the Gift</option>
          {% else %}
            <option value="{{gift.chosen_gift.id}}">{{gift.chosen_gift.title}}</option>
          {% endif %}
          {% if gift_ideas|length > 0 %}
          {% for idea in gift_ideas %}
            <option value="{{idea.id}}">{{idea.title}}</option>
          {% endfor %}
          {% endif %}
        </select>
        <label>Materialize Select</label>
      </div>
      <button class="btn">Set the gift</button>
    </form>
  </div>
  {% endif %}

  <div class="row">

    <!-- Target Stuff -->
    <div class="col s12 m12 l6">
      Put Progress Stuff Here
    </div>
    <!-- End Target Stuff -->

    <!-- Captain's Detail -->
    <div class="col s12 m12 l6">
      {% if not gift.captain %}
      <a href="{% url 'claim_captain' gift.id %}"><button class="btn">Become the Captain</button></a>
      {% else %}

      <div class="card blue lighten-1">
        <div class="card-content white-text">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{% static 'gifts/images/avatar_placeholder.png' %}" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text captain-identifier">
                <span class="purple-text">Your Captain:</span> {{gift.captain.first_name}}
              </span>
            </div>
          </div>
          <h6 class="purple-text">Bank Details</h6>
          <p>Name: {{gift.captain.profile.bank_account_name}}</p>
          <p>Bank Name: {{gift.captain.profile.bank_name}}</p>
          <p>Account Number: {{gift.captain.profile.bank_account_number}}</p>
          <p>Branch: {{gift.captain.profile.bank_branch_name}}</p>
          <p>Branch Code: {{gift.captain.profile.bank_branch_number}}</p>
          <p>Account Type: {{gift.captain.profile.get_bank_account_type_display}}</p>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End Captain's Detail -->

    <!-- Gift Suggestions -->
    <div class="row">
      <div class="col s12 m12 l6">
        <h5 class="center-align">Gift Suggestions</h5>

        {% if gift_ideas|length > 0 %}
        <ul id="ideas-collection" class="collection blue lighten-1 white-text">
          {% for idea in gift_ideas %}
          <li class="collection-item idea-item avatar blue lighten-1">
            <span class="title">{{idea.title}}</span> 
            <span class="amber-text">R{{idea.price}}</span>
            <p class="idea-description">{{idea.description}}</p>
            <div class="secondary-content">
              <i id="vote_button{{idea.id}}" {% if not idea.user_has_voted %} onclick="vote_for_gift_ajax('{{idea.id}}');"{% endif %} class="material-icons {% if not idea.user_has_voted %}white-text clickable{% else %} grey-text{% endif %}">thumb_up</i>
              <span id="vote_counter{{idea.id}}"class="white-text">{{idea.votes.all.count}}</span>
            </div>
          </li>
          {% endfor %}
        </ul>


        {% else %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel purple lighten-2">
              <span class="white-text">No one has suggested a gift just yet.
                <br><br>
                Once there are suggestions available, your group will be able to vote for their favourite gift.
                <br><br>
                Your group captain still has the final say!
              </span>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <!-- End Gift Suggestions -->

      <!-- Gift Suggestion Form -->
      <div class="col s12 m12 l6">
        <h5>Suggest a Gift</h5>
        <form onsubmit="add_suggestion_ajax('{{gift.id}}', '{{user.id}}')" id="suggestionForm" method="POST" class="blue lighten-1 suggestion-form">
          {% csrf_token %}

          <ul class="messages">
            <li id="suggestion-messages"></li>
          </ul>
          
          <div class="input-field">
            {{ gift_idea_form.title }}
            {{ gift_idea_form.title.label_tag }}
          </div>
          <div class="input-field">
            {{ gift_idea_form.description.label_tag }}
            {{ gift_idea_form.description }}
          </div>
          <div class="input-field">
            {{ gift_idea_form.url }}
            {{ gift_idea_form.url.label_tag }}
          </div>
          <div class="input-field">
            {{ gift_idea_form.price }}
            {{ gift_idea_form.price.label_tag }}
          </div>
          <button class="btn">Suggest</button>
        </form>
      </div>
      <!-- End Gift Suggestion Form -->
    </div>


    <div class="row">
      <div class="col s12 offset-m2 m8 l7">
        <p>Members</p>
        <ul class="collection">
          {% for member in members %}
          <li class="collection-item avatar">
            <img src="{% static 'gifts/images/avatar_placeholder.png' %}" alt="" class="circle">
            <span class="title">{{member.first_name}} {{member.last_name}}</span>
            <p>First Line</p>
            {% if member.is_admin %}<i class="material-icons secondary-content yellow-text">verified</i>
            {% elif user_is_admin %}
            <a href="{% url 'group_grant_admin' group_id=group.id user_id=member.id %}">
              <i class="material-icons secondary-content green-text">add_circle</i>
            </a>
            {% else %}
            <i class="material-icons secondary-content teal-text">account_circle</i>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>

{% block end_scripts %}
<script src="{% static 'gifts/js/viewGifts.js'%}"></script>
{% endblock %}
<script>
  $('body').css("background", "white")
</script>
{% endblock %}