{% extends 'gifts/base.html'%}

{% block title %} Gifty Groups - Create Group {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .card-icon {
        font-size: 4em !important;
    }

    .card-icon-container {
        text-align: center;
        padding: 20px 5px;
    }

    .card {
        margin-bottom: 20px;
        padding: 20px 0;
    }

    .card:hover {
        opacity: 0.8;
    }

    .admin-icon {
        color: #ea4d69;
    }


    a {
        color: #212529;
    }

    .card-anchor:hover {
        color: #212529;
        text-decoration: none;
    }
</style>

<h1>Your Groups</h1>

<div class="row">
    {% for group in groups %}
    <div class="offset-3 col-6 offset-sm-0 col-md-4 col-lg-3">
        <a href="{% url 'view_individual_group' group.id %}" class="card-anchor">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon-container"><i class="fas fa-users card-icon site-purple"></i></div>
                    <h5 class="card-title">{{group.name}}</h5>
                    <small style="position: absolute" class="card-text">{{group.members_total}}
                        member{% if group.members_total > 1 %}s{% endif %}</small>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

    <div class="offset-3 col-6 offset-sm-0 col-md-4 col-lg-3">
        <a href="{% url 'new_group' %}" class="card-anchor">
            <div class="card">
                <!-- <i class="fas fa-plus site-green top-icon"></i> -->
                <div class="card-body">
                    <div class="card-icon-container">
                        <i class="fas fa-plus card-icon site-green"></i>
                    </div>
                    <h5 class="card-title">New Group</h5>
                </div>
            </div>
    </div>
    </a>
</div>

{% endblock %}