{% extends 'gifts/base.html' %}
{% load static %}

{% block content %}

<div class="content container">

    <h1 class="center-align"><i class="{{group.icon}} site-purple"></i> {{group.name}}</h1>

    <div class="center-align">
      {% if user_is_admin %}
      <a href="{% url 'edit_group' group.id %}"><button class="btn orange">Edit Group</button></a>
      {% endif %}
      <a href="{% url 'leave_group' group.id %}"><button class="btn red">Leave group</button></a>
  </div>

    <div class="row">
        <div class="col s12 offset-m2 m8" id="gifts-collection">
            {{group_gifts_component}}
        </div>

    <div class="row">
        <div class="col s12 offset-m2 m8">
            <ul class="collection white">
              <li class="collection-header center-align"><h4>Group Members</h4></li>
                {% for member in members %}
                <li class="collection-item avatar">
                    <img src="{{member.profile.get_profile_pic}}" alt="" class="circle">
                    <span class="title">{{member.first_name}} {{member.last_name}}</span>
                    <p>First Line</p>
                    {% if member.is_admin %}<i class="material-icons secondary-content yellow-text tooltipped" data-position="right" data-tooltip="Admin">verified</i>
                    {% elif user_is_admin %}
                    <a href="{% url 'group_grant_admin' group_id=group.id user_id=member.id %}">
                        <i class="material-icons secondary-content green-text tooltipped" data-position="right" data-tooltip="Make admin">add_circle</i>
                    </a>
                    {% else %}
                    <i class="material-icons secondary-content teal-text">account_circle</i>
                    {% endif %}

                 </li>
                {% endfor %}
            </ul>
            {% if group.standard_user_can_invite or user_is_admin %}
            <form method="POST">
                {% csrf_token %}
                {{invitation_form.invitee_email}}
                <button class="btn green">Invite</button>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
            {% endif %}
        </div>
      </div>
    </div>

<!-- Comments section -->
<div id="comment-section" class="row">
  <div class="col s12 offset-m2 m8 offset-l2 l8">
    <form id="comment_form" onsubmit="ajax_post_comment('{{group.id}}')" class="white">
      {% csrf_token %}
      {{comment_form.content}}
      <button class="btn">Comment</button>
      <a class="btn" onclick="refresh_comments('{{group.id}}')">
        <div class="valign-wrapper">
          <i id="comments-refresh" class="material-icons tooltipped" data-position="bottom" data-tooltip="Refresh comments">refresh</i>
          <!-- Spinner -->
          <div style="display:none;" id="comments-loading" class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <!-- End Spinner -->
        </div>
      </a>
    </form>
    <div id="comment_list">
    {% include 'gifts/components/group-comments.html' %}
    </div>
  </div>
</div>
<!-- End Comments Section -->

</div>
{% endblock %}

{% block end_scripts %}
<script src="{% static 'gifts/js/viewIndividualGroup.js'%}"></script>
{% endblock %}