{% extends 'gifts/base.html' %}
{% load staticfiles %}

{% block title %} Sign Up {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <label>Email</label>
                        {{form.email}}
                        <label>First Name</label>
                        {{form.first_name}}
                        <label>Last Name</label>
                        {{form.last_name}}
                        <label>Password</label>
                        {{form.password1}}
                        <label>Confirm Password</label>
                        {{form.password2}}
                    </div>
                </div>
                <div class="offset-md-4 col-md-4">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}