  .birthday {
    background-color: rgba(3, 248, 252, 0.4);
  }

  .inline-icon{
    vertical-align: bottom;
  }

  .calendar td {
    text-align: center;
  }
  .birthday-name{
    font-size: 18px;
    display: inline-block;
  }
  .birthday-icon {
    display: inline-flex;
    vertical-align: top;
    line-height: 55px;
    margin-right: 5px;
    color: #ff8a80;
  }
  .anchor-black{
    color: black;
  }