nav {
    margin-bottom: 30px;
}

.site-green {
    color: #71dc5e;
}

.site-purple {
    color: #7d55b1
}

.site-blue {
    color: #9abae7;
}

form {
    padding: 30px;
}

.nav-margin {
    margin-top: 50px
}

.footer-margin {
    margin-bottom: 50px;
}