.captain-identifier{
    font-size: 25px;
    font-weight: bold;
}

.idea-item {
    padding-left: 20px !important;
}

.idea-description {
    font-size: 10px !important;
}

.suggestion-form {
    padding: 1px 30px;
}

label {
    color: white !important;
}