.captain-identifier{
    font-size: 25px;
    font-weight: bold;
}

.idea-item {
    padding-left: 20px !important;
}

.idea-description {
    font-size: 10px !important;
}

.suggestion-form {
    padding: 1px 30px;
}

label {
    color: white !important;
}

.clickable{
    cursor: pointer;
}

.hidden-message{
    opacity: 0 !important;
}

.gift-countdown{
    height: 25px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.gift-countdown-text{
    margin-top: 4px;
    font-weight: 500;
}

#target-details p{
    margin:0;
}