<style type="text/css">

    @media screen and (min-width: 700px){
        #mail-body{
            width:75%;
        }
    }

</style>

<div id="mail-body" style="margin-left:auto; margin-right:auto; width: 85%;">
    <div style="background-color: lightgrey; height:130px;"></div>


{% block content %}
{% endblock %}
    <p>
        <strong>Happy Gifting</strong>
        <br>
        <i>Giftly Groups</i>
    </p>

    <div style="background-color: lightgrey;">
        <p>© 2020 Giftly Groups</p>
    </div>
</div>