{% extends 'gifts/email_templates/email_template.html' %}

{% block content %}
<h3>{{gift.receiver.first_name}}'s birthday is coming up!</h3>
<div style="padding: 10px">
    <p>Greetings from Giftly Groups</p>
    <p>
        {{gift.receiver.first_name}} {{gift.receiver.last_name}}'s birthday is coming up on {{gift.wrap_up_date|date:"l, d F"}}.
        <br>
        You can start planning this gift <a href="{{domain}}{% url 'view_gift' gift.id %}">here.</a>
    </p>
    <h4>What is Giftly Groups?</h4>
    <ul>
        <li>Giftly Groups is a tool to help you manage the organization of birthday gifts.</li>
        <li>We help you keep track of the contributions and provide an environment free from the noise of alternative methods of communication.</li>
        <li>The easy to use interface ensures you will not spend countless hours on the admin behind your gift</li>
    </ul>
</div>
{% endblock %}